#home {
    background-image: url('../../assets/img/background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;;

    section {
        background-color: rgba(255, 255, 255, 0.7);
        padding-left: $md;
        padding-right: $md;
        height: 80%;
        width: 35%;
    }

    .cube {
        font-size: 8rem;
        color: blue;
    }

    h1 {
        font-size: $lg;
        font-weight: bold;
        text-align: center;
        color: blue;
    }

    .play-button-container {
        width: 100%;

    }

    a.play-button {
        background-color: green;
        border-radius: $button-radius;
        color: #fff;
        display: block;
        cursor: pointer;
        padding: $normal;
        text-align: center;
        transition: 0.3s linear all;
    }

    a.play-button:hover {
        background-color: darken(green, 10%);
    }

    .auth-container {    
        display: flex;
        justify-content: space-around;
        margin-top: $lg;
        width: 100%;
    }

    #login-button {
        background-color: blue;
    }

    #login-button:hover {
        background-color: darken(blue, 10%);
    }

    #signup-button {
        background-color: purple;
    }

    #signup-button:hover {
        background-color: darken(purple, 10%);
    }


    .auth-container .auth-buttons {
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        padding: $normal 0;
        text-align: center;  
        transition: 0.3s linear all;
        width: 30%;
    }
}

@media (max-width: 768px) {
    #home section {
        padding: 0 $normal;
        width: 100%;
        height: 100%;
    }
}